---
title: Blitz3D "NG"
---

<div class="container">
  <h1>
    Blitz3D "NG"
  </h1>

  <p>
    This project is a cross-platform modernization of <a target="_blank" href="https://blitzresearch.itch.io/blitz3d">Blitz3D</a> based on the
    <a target="_blank" href="https://github.com/blitz-research/blitz3d">original source</a>. It strives to stay true the classic.
  </p>

  <p>
    Downloads coming soon.
  </p>

  <%= link_to "Clone from GitHub", "https://github.com/blitz3d-ng/blitz3d-ng" %>
</div>
